<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Task" class="com.norg.mvc.Task">
        <property name="id" value="1"></property>
        <property name="taskName" value="Very important deed"></property>
        <property name="done" value="false"></property>
    </bean>

    <bean id="TaskRepositoryImpl" class="com.norg.mvc.TaskRepositoryImpl"></bean>
</beans>